server:
  # Puerto para este microservicio. 8082 es el que definimos en el Gateway
  port: 8082

spring:
  application:
    name: servicio-logistica

  # --- Configuración de Keycloak ---
  security:
    oauth2:
      resourceserver:
        jwt:
          # ¡Clave! Apunta al nombre del host (keycloak) que definimos en el archivo hosts
          issuer-uri: http://keycloak:8180/realms/tpi-logistica

  # --- Configuración de la Base de Datos (SQL Server) ---
  datasource:
    # Apunta al nombre del contenedor de la BD
    url: jdbc:sqlserver://sql-server-db:1433;databaseName=tpi-db;encrypt=false;trustServerCertificate=true;createDatabaseIfNotExist=true
    username: sa
    password: "@gut1n25!"

  # --- Configuración de JPA ---
  jpa:
    show-sql: true
    hibernate:
      # Usamos "update". Como la BD es compartida,
      # servicio-gestion ya creó las tablas. Este solo agregará las suyas.
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

# --- Configuración de Swagger/OpenAPI ---
springdoc:
  swagger-ui:
    path: /swagger-ui.html
